@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.containerr {
  @apply px-4 sm:px-6 lg:px-[100px] max-w-[1440px] mx-auto;
}

body {
  margin: 0;
  background-color: azure;
}
